// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');


//Colores

$orange:#F08D19;
$green:#BED246;
$dark: #575757;
$white: #FFFFFF;


//Fonts

$font:'Raleway', sans-serif;
